
/* Écran d'entrée */
.entry {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    animation: fadeOut 1s ease-out forwards;
}

/* Nouveau code : animation pour faire disparaître l'écran d'entrée */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* Appliquer l'animation de disparition après un délai pour laisser le temps au clic */
#sommaire {
    display: none;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1s forwards; /* Délai d'animation */
}

/* Animation de transition pour l'apparition du sommaire */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
